.service {
  font-family: "MyriadPro-Regular";
  font-size: 110%;
  background-color: #3a4750;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 20px;
  display: inline-block;
}
.label {
  position: relative;
  display: inline-block;
  font-size: 120%;
  padding-bottom: 10px;
}
.label::after {
  position: absolute;
  background-color: teal;
  content: "";
  bottom: 10px;
  left: 0;
  right: 0;
  height: 2px;
}
.img {
  width: 30px;
  height: auto;
  position: absolute;
  right: -62px;
  top: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.content {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  flex-basis: content;
}

.img:hover {
  cursor: pointer;
}
.p {
  max-width: 200px;
}
