.heading {
  text-align: center;
  font-family: "MyriadPro-Light";
  font-size: 250%;
  margin: 35px 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  font-family: "MyriadPro-Regular";
  font-size: 150%;
  width: 500px;
  transform: translateX(15%);
}
.linkContainer {
  margin-top: 15px;
  display: flex;
  transform: translateX(-78px);
  justify-content: space-around;
  align-items: center;
}
.link {
  font-family: "MyriadPro-Regular";
  font-size: 150%;
  display: inline-block;
  margin-inline: 15px;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 650px) {
  .content {
    font-size: 120%;
    width: 100%;
    text-align: center;
    transform: translateX(0);
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .link {
    font-size: 120%;
  }
}
